html {
  font-size: 62.5%;
}
body {
  font-size: 1.5em;

  /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: 400;
  font-family: "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  color: rgb(50, 50, 50);
}

/* Typography –––––––––––––––––––––––––––––––––––––––––––––––––– */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 300;
}
h1 {
  font-size: 4.5rem;
  line-height: 1.2;
  letter-spacing: -0.1rem;
}
h2 {
  font-size: 3.6rem;
  line-height: 1.25;
  letter-spacing: -0.1rem;
  margin-bottom: 1.8rem;
  margin-top: 1.8rem;
}
p {
  margin-top: 0;
}

/* Tables –––––––––––––––––––––––––––––––––––––––––––––––––– */
table {
  border-collapse: collapse;
}
th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #e1e1e1;
}
th:first-child,
td:first-child {
  padding-left: 0;
}
th:last-child,
td:last-child {
  padding-right: 0;
}

/* Spacing –––––––––––––––––––––––––––––––––––––––––––––––––– */

input,
textarea,
select,
fieldset {
  margin-bottom: 0rem;
}
pre,
dl,
figure,
table,
form {
  margin-bottom: 0rem;
}
p,
ul,
ol {
  margin-bottom: 0.75rem;
}

/* Clearing –––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Self Clearing Goodness */
.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both;
}

/* Media Queries –––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Larger than mobile */
@media (min-width: 400px) {
}
/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
}
/* Larger than tablet */
@media (min-width: 750px) {
}
/* Larger than desktop */
@media (min-width: 1000px) {
}
/* Larger than Desktop HD */
@media (min-width: 1200px) {
}
/* Custom App CSS Below --------------------------------- */
/* Main Layout ––––––––––––––––––––––––––––––––––––––––––––––––––*/
html,
body {
  height: 100vh;
}

body {
  background-color: #000000;
  color: #d8d8d8;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.main-app {
  height: 100vh;
  background-color: rgb(0, 0, 0);
}

.graphs-frame {
  margin: auto;
  width: 100%;
}

.chart-graph {
  margin-left: 10px;
  margin-top: 12px;
  display: inline-block;
  width: 49%;
}

.chart-stats {
  display: inline-block;
  width: 30%;
  padding-bottom: 10px;
  height: 100px;
  text-align: center;
  vertical-align: middle;
  background-color: #1d1d1d;
  margin-left: 2.5%;
}

.progress-bars-div {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  padding-left: 18%;
  padding-right: 18%;
}

.prog-bar {
  height: 20px;
  margin-bottom: 5px;
}

.learning-stats {
  margin-top: 10px;
}

#div-model-summary {
  margin-top: 10px;
}

.model-summary {
  display: inline-block;
  padding-bottom: 10px;
  padding-top: 10px;
  height: 160px;
  text-align: center;
  vertical-align: middle;
  background-color: #1d1d1d;
  margin-left: 2.5%;
  width: 30%;
}

.react-entry-point {
  height: 100vh;
}

h1,
h2,
h3,
h4,
h5 {
  letter-spacing: 2.1px;
  font-size: 30px;
  padding-left: 12px;
}

.banner {
  background-color: #1d1d1d;
  height: 100%;
}

.side-bar {
  background-color: #1d1d1d;
}

#title {
  margin-left: 10px;
  margin-top: 5px;
}

p {
  font-weight: 400;
  font-size: 14px;
  padding-left: 12px;
}

.Select-control,
.Select-menu-outer,
.Select-multi-value-wrapper,
.select-up,
.is-open .Select-control {
  background-color: #1e1e1e;
  color: white;
}

#modelselector .Select-control {
  max-height: 82px;
  overflow-y: auto;
  margin: 0px 0px -3px 0px;
  border: 0.5px solid #dbdbdb44;
}

.Select-control {
  border: 0.5px solid #dbdbdb44;
}

/* For Mobile Phones and small screens ––––––––––––––––––––––––––––––––––––––––––––––––––*/
@media only screen and (max-width: 768px) {
  .four,
  .eight {
    min-width: 100%;
  }
  h1,
  h2,
  h3,
  p {
    text-align: center;
  }
  body {
    display: block;
    margin: 0px;
    overflow-y: scroll;
  }
  .div-for-charts {
    padding: 0px;
    width: 100%;
    text-align: center;
  }

  .div-user-controls {
    padding: 32px;
  }

  .side-by-side {
    display: inline-block;
    width: 48%;
  }

  .side-by-side-right {
    display: inline-block;
    width: 48%;
  }
  .div-for-charts {
    margin: 0px;
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px !important;
  display: block !important;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1e1e1e !important;
  border-radius: 10px !important;
  display: block !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: transparent;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #d8d8d870 !important;
}
